:root {
  --main-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --bcg-color: #ffffff;
  --work-color: rgba(47, 48, 58, 0.8);
  --hero-bcg: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
  --wl-button-color: #f5f4fa;
  --wl-text-button-color: #212121;
}
body {
  background-color: var(--bcg-color);
  color: var(--main-color);
}
/* Все списки*/
.list {
  list-style-type: none;
}
/* Все ссылки */

.link {
  text-decoration: none;
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/* лого */
.logo {
  color: var(--title-text-color);
}
.logo span {
  color: var(--accent-color);
}
/* HEro */
.hero-tittle {
  color: var(--bcg-color);
}
.hero {
  background-color: var(--hero-bcg);
}
.button {
  background-color: var(--accent-color);
  color: var(--bcg-color);
}
.button:hover,
.button:focus {
  color: var(--bcg-color);
}
/* скилы */
.skills-item h2 {
  color: var(--title-text-color);
}
/* works */
.work-title {
  color: var(--title-text-color);
}
/* Team */
.team h3,
.team-title {
  color: var(--title-text-color);
}
.clients-title {
  color: var(--title-text-color);
}
footer {
  background-color: var(--hero-bcg);
}
footer a {
  color: var(--accent-color);
}
.contact {
  color: var(--contact-color);
}
footer span,
b {
  color: var(--bcg-color);
}
.portfoliolist h3 {
  color: var(--title-text-color);
}

.worklist-button {
  background-color: var(--wl-button-color);
  color: var(--wl-text-button-color);
}
.worklist-button:hover,
.worklist-button:focus {
  background-color: var(--accent-color);
  color: var(--bcg-color);
}
