:root{
    --main-color: #757575;
    --title-text-color: #000000;
    --accent-color:#2196F3;
    --bcg-color:#ffffff;
    --work-color:rgba(47, 48, 58, 0.8);
    --footer-bcg: #2F303A;
    --contact-color:rgba(255, 255, 255, 0.6);
    
    }
    body
    {
        background-color: var(--bcg-color);
        color: var(--main-color);
    }

    .list {
        list-style-type: none;
    }

    /* лого */
    .logo{
        color: var(--title-text-color);
    }
    .logo span {
        color: var(--accent-color);
    }
    /* навигация */
    .site-nav .link {
        color: var(--title-text-color)
    }
    .site-nav .link:hover, .site-nav .link:focus  {
        color: var(--accent-color)
    }
    .site-nav .link.сurrent {
        color: var(--accent-color);
    }
    /* контакты*/
    .contact .link {
        color: var(--main-color) 
    }
    .contact .link:hover, .contact .link:focus  {
        color: var(--accent-color)
    }
    /* герой */
    .hero{
        background-color: rgb(0, 0, 0);
    }
    .hero .hero-tittle {
        color: var(--bcg-color);
    }
    .button {
        background-color: var(--accent-color); 
        color: var(--bcg-color);
    }
    /* Скилы */
    .skills-item{
        color: var(--main-color);
    }
    .skills-item .skills-title {
        color: var(--title-text-color);
    }
    /* Чем мы занимаемся */
    .work-title {
        color: var(--title-text-color);
    }
    .work-type {
        color: var(--bcg-color); 
        background-color: var(--work-color); 
        width: 370pt; height: 70pt ;
    }
    /* наша команда */
    
    .team h3, .team-title{
        color: var(--title-text-color)
    } 
    .team-networks a:hover , .team-networks a:focus {
        color: var(--accent-color)
    }

    /* постоянные клиенты*/

    .clients-title{
        color: var(--title-text-color)
    } 
    
    .clients-title a:hover , .clients-title a:focus {
        color: var(--accent-color)
    }

    /* футер */
    footer {
        background-color: var(--footer-bcg); 
        color: var(--bcg-color);
    }
    .logo-footer{
        color: var(--bcg-color);
    }
    .logo-footer span{
        color: var(--accent-color);
    }
    .link.contact{
        color: var(--contact-color);
    }



